Setup
	Run ". setup.sh" to begin.

tomcat 7
	Install
		sudo apt-get install tomcat7
	Installation directory
		/usr/share/tomcat7/
	Stop tomcat
		sudo service tomcat7 stop

java jdk
	Install
		sudo apt-get install openjdk-7-jdk
	Set $JAVA_HOME
		JAVA_HOME=/path/to/java-jdk

running application
	make
		builds and runs the project
	browser
		http://localhost:8080
