<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>MyFacePlus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 style="text-align:center;">Welcome to MyFacePlus</h1>

    <div style="text-align:center;margin-bottom:20px;">The <b>new</b> standard in social media</div>

    <div style="text-align:center;">
        <a th:href="@{/login}" style="text-decoration:none;font-weight:bolder;color:red;font-size:40px;">
            Join the party
        </a>
    </div>
</body>
</html>
